/* line 1, ../sass/adjustments/_adjustment.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #edeff1;
}

/* line 7, ../sass/adjustments/_adjustment.scss */
.container {
  max-width: 1170px;
}

/* line 11, ../sass/adjustments/_adjustment.scss */
li {
  list-style: none;
}

/* line 15, ../sass/adjustments/_adjustment.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/sections/_welcome.scss */
.welcome-section {
  height: 100vh;
  background: linear-gradient(to bottom, transparent, #000 100%), url("../images/welcome.jpg") 0 0 no-repeat;
  background-size: cover;
  position: relative;
}

/* line 7, ../sass/sections/_welcome.scss */
.welcome-slogan {
  -webkit-transform: translateY(3%);
  transform: translateY(3%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 -15px 0;
  align-items: center;
  flex-direction: column;
}
/* line 17, ../sass/sections/_welcome.scss */
.welcome-slogan h2:first-child {
  font: 72px/48px Arial;
  color: #fff;
}
/* line 22, ../sass/sections/_welcome.scss */
.welcome-slogan p {
  font: 30px/48px Arial;
  color: #fff;
}

/* line 28, ../sass/sections/_welcome.scss */
.row {
  margin-bottom: 30px;
}
/* line 31, ../sass/sections/_welcome.scss */
.row .presentation {
  text-align: center;
}
/* line 34, ../sass/sections/_welcome.scss */
.row .presentation img {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 7px solid #edeff1;
  overflow: hidden;
}

/* line 44, ../sass/sections/_welcome.scss */
.presentation-description {
  padding: 20px 20px 0;
}
/* line 47, ../sass/sections/_welcome.scss */
.presentation-description h3 {
  color: #fff;
  font: 30px/24px Arial;
  margin-bottom: 25px;
}
/* line 53, ../sass/sections/_welcome.scss */
.presentation-description p {
  color: #fff;
  font: 15px/30px Arial;
  margin-bottom: 0;
}

/* line 60, ../sass/sections/_welcome.scss */
.btn {
  padding: 15px 55px;
  background: #fff;
  font: 18px/30px Arial;
  color: #612316;
  border-radius: 30px;
}
/* line 67, ../sass/sections/_welcome.scss */
.btn:hover {
  background: #612316;
  color: #fff;
}

/* line 1, ../sass/sections/_header.scss */
.header-main {
  background: #edeff1;
}

/* line 5, ../sass/sections/_header.scss */
.logo {
  background-image: url("../images/logo.png");
  width: 157px;
  height: 28px;
  margin: 0;
}
/* line 11, ../sass/sections/_header.scss */
.logo h1 {
  text-indent: -9999px;
}

/* line 16, ../sass/sections/_header.scss */
.header-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

/* line 23, ../sass/sections/_header.scss */
.main-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
}
/* line 28, ../sass/sections/_header.scss */
.main-list li .hvr-adj {
  padding: 10px 20px;
  color: #31353e;
}
/* line 32, ../sass/sections/_header.scss */
.main-list li .hvr-adj:hover {
  text-decoration: none;
}
/* line 37, ../sass/sections/_header.scss */
.main-list li .active-link {
  border-radius: 50px;
  background: #dd4b2b;
  color: #fff;
}
