/* line 1, ../sass/adjustments/_adjustment.scss */
html {
  font-size: 16px;
}

/* line 5, ../sass/adjustments/_adjustment.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #edeff1;
}

/* line 11, ../sass/adjustments/_adjustment.scss */
.container {
  max-width: 1170px;
}

/* line 15, ../sass/adjustments/_adjustment.scss */
li {
  list-style: none;
}

/* line 19, ../sass/adjustments/_adjustment.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/sections/_welcome.scss */
.welcome-section {
  height: 100vh;
  background: linear-gradient(to bottom, transparent, #000 100%), url("../images/welcome.jpg") 0 0 no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 576px) {
  /* line 1, ../sass/sections/_welcome.scss */
  .welcome-section {
    height: auto;
    background: linear-gradient(to bottom, transparent, #000 100%), url("../images/welcome.jpg") 0 0 no-repeat;
    background-size: cover;
  }
}

/* line 13, ../sass/sections/_welcome.scss */
.welcome-slogan {
  -webkit-transform: translateY(3%);
  transform: translateY(3%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 -15px 0;
  align-items: center;
  flex-direction: column;
}
/* line 23, ../sass/sections/_welcome.scss */
.welcome-slogan h2:first-child {
  font: 72px/48px Arial;
  color: #fff;
}
/* line 28, ../sass/sections/_welcome.scss */
.welcome-slogan p {
  font: 30px/48px Arial;
  color: #fff;
}

/* line 34, ../sass/sections/_welcome.scss */
.row {
  margin-bottom: 30px;
}
/* line 37, ../sass/sections/_welcome.scss */
.row .presentation {
  text-align: center;
}
/* line 40, ../sass/sections/_welcome.scss */
.row .presentation img {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 7px solid #edeff1;
  overflow: hidden;
}

/* line 50, ../sass/sections/_welcome.scss */
.presentation-description {
  padding: 20px 20px 0;
}
/* line 53, ../sass/sections/_welcome.scss */
.presentation-description h3 {
  color: #fff;
  font: 30px/24px Arial;
  margin-bottom: 25px;
}
/* line 59, ../sass/sections/_welcome.scss */
.presentation-description p {
  color: #fff;
  font: 15px/30px Arial;
  margin-bottom: 0;
}

/* line 66, ../sass/sections/_welcome.scss */
.btn {
  padding: 15px 55px;
  background: #fff;
  font: 18px/30px Arial;
  color: #612316;
  border-radius: 30px;
}
/* line 73, ../sass/sections/_welcome.scss */
.btn:hover {
  background: #612316;
  color: #fff;
}

/* line 1, ../sass/sections/_header.scss */
.header-main {
  background: #edeff1;
}

/* line 5, ../sass/sections/_header.scss */
.logo {
  background-image: url("../images/logo.png");
  width: 157px;
  height: 28px;
  margin: 0;
}
/* line 11, ../sass/sections/_header.scss */
.logo h1 {
  text-indent: -9999px;
}

/* line 16, ../sass/sections/_header.scss */
.header-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

/* line 23, ../sass/sections/_header.scss */
.main-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
}
/* line 28, ../sass/sections/_header.scss */
.main-list li .hvr-adj {
  padding: 10px 20px;
  color: #31353e;
}
/* line 32, ../sass/sections/_header.scss */
.main-list li .hvr-adj:hover {
  text-decoration: none;
}
/* line 37, ../sass/sections/_header.scss */
.main-list li .active-link {
  border-radius: 50px;
  background: #dd4b2b;
  color: #fff;
}

/* line 1, ../sass/sections/_our-news.scss */
.our-news-section {
  padding: 70px 0;
}
/* line 4, ../sass/sections/_our-news.scss */
.our-news-section header {
  font: 31px/24px Arial;
  color: #31353e;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
/* line 12, ../sass/sections/_our-news.scss */
.our-news-section .row {
  justify-content: space-around;
}

/* line 17, ../sass/sections/_our-news.scss */
.our-news {
  width: 371px;
}
/* line 20, ../sass/sections/_our-news.scss */
.our-news img {
  width: 371px;
  height: auto;
}
/* line 25, ../sass/sections/_our-news.scss */
.our-news .our-news-body {
  padding: 35px 35px 0;
  text-align: center;
}
/* line 29, ../sass/sections/_our-news.scss */
.our-news .our-news-body h3 {
  font: 24px/30px Arial;
  color: #31353e;
}
/* line 34, ../sass/sections/_our-news.scss */
.our-news .our-news-body p {
  font: 15px/30px Arial;
  color: #31353e;
  margin-bottom: 35px;
}
/* line 40, ../sass/sections/_our-news.scss */
.our-news .our-news-body .padding {
  padding: 15px 50px;
}

/* line 1, ../sass/sections/_newsletter.scss */
.newsletter-section {
  padding: 5.625rem 0 6.875rem;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.59) 1%, transparent 100%), url("../images/burgers-bg.jpg") 0 0 no-repeat;
  background-size: cover;
}
@media screen and (max-width: 576px) {
  /* line 1, ../sass/sections/_newsletter.scss */
  .newsletter-section {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.59) 1%, transparent 100%), url("../images/burgers-bg.jpg") 0 0 no-repeat;
    background-size: cover;
  }
}

/* line 16, ../sass/sections/_newsletter.scss */
.newsletter-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* line 21, ../sass/sections/_newsletter.scss */
.newsletter-center header {
  font: 30px/48px Arial;
  color: #fff;
}
/* line 26, ../sass/sections/_newsletter.scss */
.newsletter-center p {
  font: 15px/24px Arial;
  color: #fff;
  margin-bottom: 2.5rem;
  width: 34.0625rem;
  text-align: center;
}
@media screen and (max-width: 576px) {
  /* line 26, ../sass/sections/_newsletter.scss */
  .newsletter-center p {
    width: 23.125rem;
  }
}
@media screen and (max-width: 576px) {
  /* line 16, ../sass/sections/_newsletter.scss */
  .newsletter-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

/* line 44, ../sass/sections/_newsletter.scss */
.newsletter-form input, .newsletter-form button {
  border-radius: 3.125rem;
  border: 0.0625rem solid #c9cbcc;
}
/* line 49, ../sass/sections/_newsletter.scss */
.newsletter-form input {
  padding: 0.9375rem 2.5rem;
  width: 20.3125rem;
  background: transparent;
  color: #fff;
}
/* line 56, ../sass/sections/_newsletter.scss */
.newsletter-form button {
  padding: 0.9375rem 4.375rem;
  margin-left: -3.125rem;
  background: #fff;
  color: #612316;
}
/* line 62, ../sass/sections/_newsletter.scss */
.newsletter-form button:hover {
  background: #612316;
  color: #fff;
  border: 0;
}
