.welcome-section {
  height: 100vh;
  background: linear-gradient(to bottom, transparent,  #000 100%), url("../images/welcome.jpg") 0 0 no-repeat;
  background-size: cover;
  position: relative;

  .welcome-slogan {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
}