.welcome-section {
  height: 100vh;
  background: linear-gradient(to bottom, transparent,  #000 100%), url("../images/welcome.jpg") 0 0 no-repeat;
  background-size: cover;
  position: relative;
}
.welcome-slogan {
  -webkit-transform: translateY(3%);
  transform: translateY(3%);
  @include mixflexbox;
  margin: 0 -15px 0;

  //align-content: center;
  align-items: center;
  flex-direction: column;

  h2:first-child {
    font: 72px/48px Arial;
    color: #fff;
  }

  p {
    font: 30px/48px Arial;
    color: #fff;
  }
}

.row {
  margin-bottom: 30px;

  .presentation {
    text-align: center;

    img {
      width: 133px;
      height: 133px;
      border-radius: 50%;
      border: 7px solid #edeff1;
      overflow: hidden;
    }
  }
}

.presentation-description {
  padding: 20px 20px 0;

  h3 {
    color: #fff;
    font: 30px/24px Arial;
    margin-bottom: 25px;
  }

  p {
    color: #fff;
    font: 15px/30px Arial;
    margin-bottom: 0;
  }
}

.btn {
  padding: 15px 55px;
  background: #fff;
  font: 18px/30px Arial;
  color: #612316;
  border-radius: 30px;

  &:hover {
    background: #612316;
    color: #fff;
  }
}